@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
  color-scheme: dark;
  scroll-behavior: smooth;
}

body {
  background-color: #0B0B0C;
  color: #D4D4D8;
  margin: 0;
  min-height: 100vh;
}

@keyframes pulse-slow {

  0%,
  100% {
    opacity: 0.5;
    transform: scale(1);
  }

  50% {
    opacity: 0.8;
    transform: scale(1.1);
  }
}

.animate-pulse-slow {
  animation: pulse-slow 8s infinite ease-in-out;
}